.navbar-expand-md .navbar-nav .nav-link {
  padding: 10px 20px;
  font-weight: 500;
}
.home {
      background-color: #f0f5f9;
      padding: 150px 0px 100px 0;
}
.features__container{
  background-color: #f0f5f9;
}
.card-img, .card-img-top {
  width: 80px;
}
.result-img{
  width: 80px;
  height: 80px;
}
.reviews-container{
  background-color: #f0f5f9;
  padding: 100px 50px;
}
.round-img{
  width: 60px;
  height: 60px;
}
.reviews{
  margin-bottom: 100px;
}
.pricing{
  margin-bottom: 70px;
}
.card{
  padding-top: 30px;
  padding-bottom: 30px;
}
.pricing-img{
  width: 120px;
}
.card-1{
  background-color: #f0f5f9;
}
.faq-container{
  background-color: #f0f5f9;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.download{
  margin-bottom: 100px;
}
.fa-brands{
  color: rgb(73, 73, 199);
}
@media only screen and (min-width:1400px){
  .container{
    max-width: 1140px;
  }
}
@media only screen and (max-width:330px){
  .btn-group-vertical>.btn, .btn-group>.btn {
    width: 100%;
    margin-bottom: 15px;
}
}